pandas
numpy
scipy
matplotlib
duckduckgo_search
aiohttp
beautifulsoup4
requests
python-dotenv
chromadb
llama-index
llama-parse
openai
aider-chat @ git+https://github.com/Aider-AI/aider.git@86175a18279c2fc9421998208d0e83f6677f6b47
litellm
groq
anthropic
llama-index-vector-stores-chroma
llama-index-llms-anthropic
llama-index-llms-azure-openai
llama-index-llms-bedrock
llama-index-llms-gemini
llama-index-llms-groq
llama-index-llms-openai
llama-index-llms-ollama
llama-index-embeddings-azure-openai
llama-index-embeddings-openai
llama-index-embeddings-ollama
httpx
# torch==2.5.1+cu121
# torchvision==0.20.1+cu121
# torchaudio==2.5.1+cu121
#marker-pdf==0.3.10
